* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

html, body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  rgb(1, 119, 123);;
}


#formlogin {
    background-color: white;
    width: 250px;
    height: 300px;
    border-radius: 0px 0px 15px 15px;
    padding: 10px;
    text-align: center;
}

#formlogin p {
    font-size: 0.9em;
    line-height: 20px;
    padding: 8px;
}

#image {
    background-image: url(../images/image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0px 0px;
    height: 200px;
    width: 250px;
}

.inputlogin {
    display: block;
    margin: auto;
    width:220px;
    height: 35px;
    border-radius: 6px;
    border: 1px solid rgb(1, 119, 123);
    margin-bottom: 7px;
   
}

#inputsubmit {
    display: block;
    margin: auto;
    width:220px;
    height: 35px;
    border-radius: 6px;
    border: none;
    background-color:  rgb(1, 102, 105);
    color: white;
}